.header {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;

}

.invList {
    padding-left: 29px;
    margin-left: 13px;
    font-size: 2vw;
}
.icon{
    justify-content: end;
    padding-top: 7px;
    padding-left: 75vw;
}